@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../fonts/helvetica/HelveticaNeue-BoldExt.eot');
    src: url('../fonts/helvetica/HelveticaNeue-BoldExt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica/HelveticaNeue-BoldExt.woff') format('woff'),
        url('../fonts/helvetica/HelveticaNeue-BoldExt.ttf') format('truetype'),
        url('../fonts/helvetica/HelveticaNeue-BoldExt.svg#HelveticaNeue-BoldExt') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*for columns but the right size*/

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../fonts/helvetica/HelveticaNeue-LightExt.eot');
    src: url('../fonts/helvetica/HelveticaNeue-LightExt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica/HelveticaNeue-LightExt.woff') format('woff'),
        url('../fonts/helvetica/HelveticaNeue-LightExt.ttf') format('truetype'),
        url('../fonts/helvetica/HelveticaNeue-LightExt.svg#HelveticaNeue-LightExt') format('svg');
    font-weight: 300;
    font-style: normal;
}
/*for labels but right size*/

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('../fonts/helvetica/HelveticaNeue-Medium.eot');
    src: url('../fonts/helvetica/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica/HelveticaNeue-Medium.woff') format('woff'),
        url('../fonts/helvetica/HelveticaNeue-Medium.ttf') format('truetype'),
        url('../fonts/helvetica/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
/*for buttons but right size*/

@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('../fonts/helvetica/HelveticaNeue-Roman.eot');
    src: url('../fonts/helvetica/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica/HelveticaNeue-Roman.woff') format('woff'),
        url('../fonts/helvetica/HelveticaNeue-Roman.ttf') format('truetype'),
        url('../fonts/helvetica/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*for body - but smaller*/

html, body, #app{height:100%;}

#outer {
    min-height:100%;
}

* html #outer{height:100%;} /* for IE 6, if you care */

body, p { margin:0; padding:0}


.nav-tabs > li > a
{
   font-family: Helvetica,sans-serif;
}

.label_hel
{
	font-family: arial,helvetica,sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 17px;
}

.table > thead > tr > th, .table > tbody > tr > td
{
	font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif!important;
}

.table > thead > tr > th
{
   font-family: "Helvetica Neue Bold", Helvetica, Arial, sans-serif!important;
}

#headr{
	background-color: #048abb;
	margin-bottom: 0;
}

.top *
{
	color: #fff;
}

.tab-content h3
{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #515151;
}

.tab-content thead th
{
	font-size: 12px;
	font-family: Helvetica,sans-serif;
	color: #048fc2 !important;
}

.tab-content tbody th, td
{
	font-size: 12px;
	font-family: Helvetica,sans-serif;
	color: #444;
	padding: 10px 5px;
	font-weight: normal;
}
.line
{
	border-top: 1px solid rgba(50,70,90,.1);
    border-bottom: 1px solid rgba(255,255,255,.05);
    content: "";
}
#line1
{
	border-top: 1px solid rgba(50,70,90,.1);
    border-bottom: 1px solid rgba(255,255,255,.05);
    content: "";
	width: 29%;
	margin-top: 0px;
	margin-bottom: 5px;
}
#all_booking p
{
	margin-bottom: 2px;
}
ul#datesection
{
	padding-bottom: 5px;
}
ul#datesection li
{
	display: block;
	padding-bottom: 2px;
	margin-bottom: 0px;
	line-height: 1.3;
}
ul#datesection li a
{
	color: #048fc2;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
	font-weight: normal;

}
.text-right
{

}
div#msection
{
	padding-left: 0px;
}

#manifest
{
	border: 2px solid;
	color: #048fc2;
	padding: 8px 18px;
	background: linear-gradient(#fff,#e6eaec);
    box-shadow: none;
    border-radius: 3px;
    transition: opacity .2s ease-out;
    box-sizing: border-box;
	font: 700 12px Helvetica,sans-serif;
    border: 1px solid #cfd2d4;
    background-color: #fafafa;
    white-space: nowrap;
}
td input, th input
{
	height: 17px;
	width: 17px;
	text-align: center;
}
tbody a i#lists
{
	font-size: 20px;
}
tbody td#lsts
{
	position: relative;
}
tbody td#lsts a
{
	width: 15px;
    padding: 23px 5px 15px 5px;
    background-color: #ebebe0;
    margin-left: 8px;
}
tbody#tb1 i.icon-plus
{
	font-size: 19px;
}
tbody#tb1 td#plus a
{
	background-color: #e0e0d2;
	width: 14px;
    padding: 9px 3px 2px 3px;
}
#found p
{
	margin-top: 72px;
	margin-left: 19px;
	font-size: 18px;
}
div.popup i
{
	color: #fff;
	font-size: 19px;
	font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
	transition: 0.5s;
    padding: 12px 15px 0;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    width: 120px;
    background-color: #f4f5f6;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
input#myPopup[type=text]:focus
{
	visibility: visible;
}

h1, h2, h3, h4, h5 {
    margin-top: 0 !important;
}

#icn {
    margin-top: 10px;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar-brand {
    padding-top: .3125rem !important;
    padding-bottom: .3125rem !important;
    height: auto !important;
}

.navbar-nav > li > a {
    padding: 10px !important;
    padding-bottom: 10px !important;
}

.dropdown-menu a {
    color: black !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 5px !important;
    padding-top: 10px !important;
    font-size: 16px;
}

.container {
}

#header > table {
    margin-top: 20px;
    height: 50px !important;
}

a.login {
    color: black !important;
    border: 1px solid;
}

.form-control {
    box-shadow: none !important;
}

span.input-group-addon {
    border: none !important;
    padding: 0 !important;
    padding-left: 10px !important;
}

div.borderB, div.borderT {
    padding: 10px !important;
}

div.borderB {
    border-bottom: none !important;
}

.nav-tabs {
    border-bottom: none !important;
}

#uploadDropzone > select {
    position: absolute;
    top: 0px;
    margin-top: -30px;
    height: 22px;
    width: 200px;
    margin-left: -56px;
}

#submit-upload {
    position: absolute;
    margin-top: -15px;
    margin-left: 10px;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer;
}

.form-signin > .h4 {
    color: black !important;
}

.error-message {
    color: red;
    text-align: left;
}

.filter-conditions a {
    color: #337ab7 !important;
    display: block;
    padding: 0px !important;
    font-weight: normal !important;
    cursor: pointer;
}

.filter-conditions li {
    font-size: 12px !important;
}

.filter-conditions ul {
    margin-bottom: 10px !important;
}

#all_booking {
    margin-top: 20px;
    margin-bottom: 20px;
}

#all_booking > p {
    color: #828282 !important;
}

.table-responsive {
    margin-top: 10px;
}

.filter-conditions2 {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.filter-conditions2 > select {
    width: 150px;
    height: 30px;
}

.booking-status {
    height: 50px;
}

.booking-status a > i {
    font-size: 16px;
}

.booking-status > div {
    margin-top: 15px;
}

.booking-status a {
    padding-top: 18px;
    padding-bottom: 17px;
    padding-right: 4px;
    padding-left: 4px;
    text-decoration: none !important;
}

.booking-status .warning > i {
    color: #ff5309;
}

.dark-blue {
    background-color: #0995a5 !important;
}

.tootipitem .tooltip-inner {
  background-color: #333;
  color: #333;
  border: 1px solid #062e56;
}

.tootipitem .tooltip-arrow {
  border-top: 5px solid #062e56;
}



.left-15px {
    margin-left: 15px;
}

.right-10px {
    margin-right: 10px;
}
.no-padding {
    padding: 0px !important;
}

.disp-inline-block {
    display: inline-block;
}

.bc-red {
    background-color: red;
}

.c-red {
    color: red;
}

.bc-green {
    background-color: green;
}

.transparent {
    visibility: hidden;
}

.pickup-detail .progress .progress-bar-striped {
    width: 50%;
}

#app

.theme-bg {
    /* Firefox */
    height: -moz-calc(100% - 114px);
    /* WebKit */
    height: -webkit-calc(100% - 114px);
    /* Opera */
    height: -o-calc(100% - 114px);
    /* Standard */
    height: calc(100% - 114px);
    width: 100%;
}

#carouselExampleIndicators {
    width: 50%;
    height: 100%;
    float: right;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item > img {
    height: 100%;
}

.right-pan {
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
}

.right-pan > p:first-child {
    font-size: 28px;
}

.right-pan > p:last-child {
    font-size: 18px;
}

tr.filter input {
    width: 100%;
    color: black;
    font-weight: 100;
    height: 25px;
}
